body {
 background-image: url("paper.gif");
 background-color: #cccccc;
}
.box:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
