body {
 background-url: https://cdn.discordapp.com/attachments/1140372266086039692/1405472797832122418/IMG_20250715_090901.jpg?ex=689ef40b&is=689da28b&hm=febb408ff7f404f661256ed23695d71789aaa4fd94d5396b12f7a5172e56a927&
 height: 100vh;
 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}
.my-div {
  background-color: rgba(255,255,255,0.5);
}
