/* WEBSITE CSS */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital@0;1&display=swap');

:root {
    --web-font: "Roboto", Roboto Light, Roboto Bold;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Roboto";
	color: white;
}

@keyframes bg_gradient {
0% {
background-position: 0% 50%;
}
25% {
background-position: 100% 50%;
}
50% {
background-position: 50% 50%;
}
75% {
background-position: 25% 50%;
}
100% {
background-position: 0% 50%;
}
}
/* The big packages of CSS */

html, body {
    background: center/200% 250% no-repeat linear-gradient(-45deg, #9a1fff, #b96bff, #ffb245, #ffbC2C);
    font-family: var(--web-font);
    animation: bg_gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Roboto Light';
    font-weight: normal;
}
h1, h2, p {
	margin: 0;
	padding: 0;
}
button {
    pointer-events: all;
}
.hide {
display: none;
}

/* == The main page == */

[type="mainpage"] {
    background: rgb(255 255 255 / 35%);
    border-radius: 25px;
    height: 65%;
    width: 85%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1070px) {
    [type="mainpage"] {
        flex-direction: column;
        height: 80%;
    }
    container {
        margin: 2.5px !important;
    }
    div[type="mainpage"] > cr {
        margin: 0px 20px 0px 20px;
        border-right: hidden;
        border-bottom: solid 0.5px rgb(255 255 255 / 45%);
    }
    container[type="var-a"] {
        height: auto;
        width: 100% !important;
    }
    container[type="var-b"] > div#gimmicks-pge > iframe {
        height: 250% !important;
        border: hidden !important;
        overflow: hidden !important;
        width: 130%;
        margin-left: -41px;
    }
	
    container[type="var-a"] > h1 {
        font-size: calc(170%)!important;
    }
    container[type="var-a"] > p {
        font-size: calc(90%)!important;
    }
    container[type="var-a"] > img {
        width: calc(100% / 3.5)!important;
    }
    container[type="var-a"] > div.tabs > button {
        font-size: calc(100% / 1.05)!important;
    }
}

h1, h2 {
    font-family: 'Roboto Light';
    font-weight: normal;
    margin: 0;
    padding: 0;
}

container[type="var-a"] {
    padding: 20px;
    width: 35%;
}

div[type="mainpage"] > cr {
    margin: 20px 0px 20px 0px;
    border-right: solid 0.5px rgb(255 255 255 / 45%);
}

container[type="var-a"] > img {
    width: calc(100% / 1.75);
}

container[type="var-a"] > h1 {
    margin: 10px 0px 10px 0px;
    font-size: calc(100% * 2.5);
}

container[type="var-a"] > p {
    margin: 0;
    font-size: calc(100% * 1.075);
}

container[type="var-b"] {
    padding: 20px;
    width: 100%;
}

container[type="var-a"] > div.tabs {
    margin-top: 15px;
}

container[type="var-a"] > div.tabs > button {
    margin: 0;
    padding: 6px;
    font-size: calc(100% * 1.075);
    border-radius: 14px;
    border: hidden;
    background-color: rgb(0 0 0 / 25%);
    cursor: pointer;
    color: rgb(255 255 255);
    transition: background-color 0.05s ease;
}
container[type="var-a"] > div.tabs > button:hover {
    background-color: rgb(0 0 0 / 15%);
}

container[type="var-a"] > div.tabs > button.active {
    background-color: rgb(255 255 255 / 20%);
}

container[type="var-b"] > div {
    width: 100%;
    height: 100%;
}

/* == About me page == */
 container[type="var-b"] > div#aboutme-pge > .scrollable-container {
    max-height: 300px;
    height: auto;
    overflow-y: auto;
    padding: auto;
}
container[type="var-b"] > div#aboutme-pge > .scrollable-container::-webkit-scrollbar {
    width: 8px;
}
container[type="var-b"] > div#aboutme-pge > .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #ffffff4d;
    border-radius: 4px;
}
container[type="var-b"] > div#aboutme-pge > .scrollable-container::-webkit-scrollbar-track {
    background-color: #ffffff4d;
    border-radius: 4px;
}

/* == Gimmicks page== */
container[type="var-b"] > div#gimmicks-pge > form > input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 26px;
    border: hidden;
    background-color: #c999ff87;
    margin-right: 10px;
}
container[type="var-b"] > div#gimmicks-pge > form > input[type="submit"] {
    padding: 8px 16px;
    border-radius: 26px;
    border: hidden;
    background-color: #B14FFF;
    color: white;
    cursor: pointer;
}
container[type="var-b"] > div#gimmicks-pge > form {
    margin-top: 10px;
    display: flex;
}   
container[type="var-b"] > div#gimmicks-pge > form > input[type="submit"]:hover {
    background-color:#A769FF;
    transition: background-color 0.2s ease;
}


























